* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #E5E5E5;
  }

  header{
    display: flex;
  }

  header h1 {
    color: #445964;
    font-weight: 900px;
    font-size: 29px;
    line-height: 42px;
    margin-top: 69px;
  }

  header i {
    color:#445964;
    margin-left: 150px;
    margin-top: 72px;
    margin-right: 19px;
  }

  header nav a{
    color: #445964;
    font-weight: 500px;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    margin-right: 80px;
  }

  header nav{
    margin-top: 78px;
    margin-left: 200px;
  }

  main {
    margin-left: 150px;
    margin-top: 130px;
    width: 300px;
    color:#445964;
  }

  main h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  main h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
  }

  main h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-top: 100px;
    background: #263138;
    border-radius: 20px;
    text-align: center;
  }

  footer {
    margin-left: 150px;

  }

  footer i {
    color:#445964;
    margin-right: 15px;
  }

  main section {
    display: flex;
    justify-content:space-between;
  }

  #containerImage{
    margin-left: 290px;
  }